@font-face {
	font-family: Karla;
	src: url(karla-extrabold.ttf);
}

* {
	margin: 0 auto;
}

body {
	background-color: #273549;
}

h2 {
	color: #fff;
	font-family: Karla, sans-serif;
	font-size: 40px;
}

.green-text {
	color:  #10B981;
}

p {
	color: #D5D4D8;
	font-family: Inter, sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-top: 15px;
}

button {
	color: #fff;
	background-color: #10B981;
	border: none;
	border-radius: 6px;
	padding:  10px 15px 10px 15px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 50px;
	cursor: pointer;
}

.container {
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
}

hr {
	margin:  40px 0 60px 0;
	border: 1px solid #2F3E53;
}


/* need to fix all this */

.passwords-container {
	display: flex;
	justify-content: center;
}

.password-field {
	width: 250px;
	height: 50px;
	background-color: #2F3E53;
	border-radius: 5px;
	border-style: none;
	padding: 2px;
	outline: none;
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
	color: #55F991;
	text-align: center;
}

#pass-1 {
	margin-right: 5px;
}

#pass-1 {
	margin-left: 5px;
}

@media screen only and (max-width: 800px) {
	.passwords-container {
		flex-direction: column;
		flex: 2;
	}
	.password-display: {
		width: 500px;
	}
}


/**/












